:root {
  --dark: #231f20;
  --main: #e63b7a;
  --light: #fdf2f7;
  --highlight: #c59655;
  --cerise_red50: #fdf2f7;
  --cerise_red100: #fce7f0;
  --cerise_red200: #fad0e3;
  --cerise_red300: #f7aaca;
  --cerise_red400: #f175a6;
  --cerise_red500: #e63b7a;
  --cerise_red600: #d72b61;
  --cerise_red700: #ba1c4a;
  --cerise_red800: #9a1a3e;
  --cerise_red900: #801b36;
  --cerise_red950: #4e091b;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

/*adjust for the size of website borders*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main);
  color: var(--dark);
  font-family: 'Montserrat', sans-serif;
}

header {
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

header.scrolled {
  background-color: var(--light);
}

/*Navbar with logo*/
.navbar {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 70px;
  padding: 10px 0;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.nav-list li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.nav-list a {
  text-decoration: none;
  color: var(--dark);
}
.nav-list a:hover {
  font-weight: 600;
}
/*Responsive menu icon*/
.menu-btn {
  display: none;
  padding-top: 10px;
}
.menu-line {
  width: 28px;
  height: 3px;
  background-color: var(--dark);
  margin-bottom: 6px;
}
/*Show hamburger menu when width is 900px or less*/
@media all and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .menu-btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .nav-list {
    padding: 0;
    width: 100%;
    display: none;
  }
  .nav-list li {
    width: 100%;
    text-align: center;
    display: block;
    border-top: 1px solid var(--dark);
    padding: 10px 0;
  }
  .logo-container {
    width: 100%;
  }
  .active {
    display: block;
  }
}

/*Hero section*/
.hero-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  width: 40%;
}
.hero-text h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin: 2px 0;
}
.hero-text p {
  margin: 2px 0;
}
.hero-img {
  width: 60%;
  max-width: 580px;
  display: block;
}
/*Hero button*/
.hero-btn {
  margin-top: 10px;
  padding: 20px;
  width: 250px;
  text-transform: uppercase;
  font-weight: 200;
  background-color: transparent;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.hero-btn:hover {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: var(--light);
  cursor: pointer;
}

/*Responsive hero section when width is 900px or less*/
@media all and (max-width: 900px) {
  .hero-section {
    display: flex;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
  }
  .hero-btn {
    width: 100%;
  }
  .hero-img {
    max-width: none;
    width: 80%;
  }
}

/*About section*/
.about-section {
  background-color: var(--light);
}
.section-container {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}
.section-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main);
}
.section-text {
  line-height: 1.8;
  text-align: left;
}
.about-link {
  color: var(--main);
}
.about-link:hover {
  color: var(--cerise_red300);
}

/*Experience section*/
.section-title.experience {
  color: var(--light);
}
.experience-section {
  background-color: var(--dark);
  color: var(--light);
}
.experience-list {
  line-height: 1.8;
  margin-left: 40px;
  list-style-type: '+';
}
.experience-list li {
  padding-left: 1%;
}
.experience-list li::marker {
  color: var(--main);
  font-weight: 600;
}
.experience-list li a {
  color: var(--light);
  text-decoration: none;
}
.experience-list li a:hover {
  color: var(--cerise_red300);
}

/*Work section*/
.work-section {
  background-color: var(--dark);
}
.section-container.work {
  border-top: 3px solid var(--main);
}
.section-title.work {
  color: var(--light);
}
.project {
  background-color: var(--light);
  display: flex;
  flex-wrap: nowrap;
  padding: 4%;
  margin-bottom: 30px;
}
.project-title {
  color: var(--main);
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.project-description {
  width: 40%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.project h4 {
  margin: 15px 0 5px 0;
}
.project p {
  margin-top: 10px;
}
.project ul {
  padding-left: 15px;
  margin-top: 5px;
}
.project ul li {
  list-style-type: '+';
  padding-left: 5px;
  padding-bottom: 10px;
}
.project ul li::marker {
  font-weight: 600;
  color: var(--main);
}
.project-btn {
  margin-top: 4%;
  padding: 20px;
  width: 80%;
  text-transform: uppercase;
  font-weight: 200;
  background-color: transparent;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.project-btn:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
  color: var(--light);
  cursor: pointer;
}
.project-img-container {
  display: flex;
  width: 60%;
  align-items: center;
}
.project-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/*Responsive project boxes when width is 900px or less*/
@media all and (max-width: 900px) {
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 5%;
  }
  .project-description,
  .project-btn,
  .project-img-container {
    width: 100%;
  }
  .project-btn {
    margin-bottom: 3%;
  }
  .project-img {
    width: 100%;
  }
}

/*Contact section*/
.contact-section {
  background-color: var(--light);
}

.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.input-box,
textarea {
  padding: 2%;
  border: 1px solid var(--dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: text;
}
textarea {
  height: 80px;
  padding: 12px 20px;
  resize: vertical;
}
.input-box::placeholder {
  color: var(--dark);
  text-transform: uppercase;
}
textarea::placeholder {
  color: var(--dark);
}
.first-name,
.last-name,
.email,
.phone {
  flex: 1 1 40%;
}
.subject,
.msg {
  flex: 1 1 100%;
}
/*Contact form button*/
.contact-btn {
  padding: 20px;
  width: 280px;
  text-transform: uppercase;
  font-weight: 200;
  background-color: transparent;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.contact-btn:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
  color: var(--light);
  cursor: pointer;
}

/*SoMe*/
.so-me-section {
  background-color: var(--light);
}
.so-me-section-container {
  border-top: 3px solid var(--main);
}
.so-me-list {
  text-transform: uppercase;
  list-style-type: '+';
  padding-left: 2%;
}
.so-me-list li::marker {
  font-weight: 600;
}
.so-me-list li {
  color: var(--dark);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.so-me-list a {
  text-decoration: none;
  color: var(--dark);
}
.so-me-list a:hover {
  font-weight: 600;
}

/*Footer*/
footer {
  color: var(--light);
}
.footer-section {
  background-color: var(--dark);
}
.footer-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
footer p {
  text-align: center;
}
footer a {
  color: var(--light);
  text-decoration: none;
}
footer a:hover {
  font-weight: 600;
}

/*Responsive font for for mobile 320px to 480px*/
@media all and (min-width: 320px) and (max-width: 480px) {
  /*Hero section*/
  .hero-text {
    text-align: center;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 14px;
  }
  .hero-img {
    width: 100%;
  }
  .hero-btn {
    margin-top: 10px;
    padding: 15px;
    width: 200px;
  }
  /*Sections general*/
  .section-container {
    width: 80%;
    padding: 7% 2%;
  }
  .section-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .section-text {
    line-height: 1.5;
    font-size: 12px;
  }
  /*Experience section*/
  .experience-list {
    line-height: 1.8;
    margin-top: 10px;
    margin-left: 12px;
  }
  .experience-list li {
    padding-left: 3%;
    font-size: 12px;
  }
}
