:root {
  --dark: #231f20;
  --main: #e63b7a;
  --light: #fdf2f7;
  --highlight: #c59655;
  --cerise_red50: #fdf2f7;
  --cerise_red100: #fce7f0;
  --cerise_red200: #fad0e3;
  --cerise_red300: #f7aaca;
  --cerise_red400: #f175a6;
  --cerise_red500: #e63b7a;
  --cerise_red600: #d72b61;
  --cerise_red700: #ba1c4a;
  --cerise_red800: #9a1a3e;
  --cerise_red900: #801b36;
  --cerise_red950: #4e091b;
}

body {
  margin: 0;
  background-color: var(--main);
  color: var(--dark);
  font-family: 'Montserrat', sans-serif;
}

header {
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

header.scrolled {
  background-color: var(--light);
}

/*Navbar with logo*/
.navbar {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 70px;
  padding: 10px 0;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.nav-list li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.nav-list a {
  text-decoration: none;
  color: var(--dark);
}
.nav-list a:hover {
  font-weight: 600;
}

/*Responsive menu icon*/
.menu-btn {
  display: none;
  padding-top: 10px;
}
.menu-line {
  width: 28px;
  height: 3px;
  background-color: var(--dark);
  margin-bottom: 6px;
}
/*Show hamburger menu when width is 820px or less*/
@media all and (max-width: 820px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .menu-btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .nav-list {
    padding: 0;
    width: 100%;
    display: none;
  }
  .nav-list li {
    width: 100%;
    text-align: center;
    display: block;
    border-top: 1px solid var(--dark);
    padding: 10px 0;
  }
  .logo-container {
    width: 100%;
  }
  .active {
    display: block;
  }
}

/*Hero section*/
.hero-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  width: 50%;
  margin-left: 5%;
}
.hero-text h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin: 2px;
}
.hero-text p {
  margin: 2px;
}
.hero-btn {
  margin-top: 20px;
  padding: 20px;
  width: 250px;
  text-transform: uppercase;
  border: 1px solid var(--dark);
  font-weight: 200;
  background-color: transparent;
  cursor: pointer;
}
.hero-btn:hover {
  font-weight: 600;
}
.ls-photo {
  width: 100%;
  max-width: 600px;
  display: block;
}

/*Responsive hero section when width is 820px or less*/
@media all and (max-width: 820px) {
  .hero-section {
    display: flex;
    flex-direction: column;
  }
  .hero-text {
    width: 90%;
  }
  .hero-btn {
    width: 90%;
  }
}
